.idea/
*.iml
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*.csv
*tar.xz
*.bz2
parsed_seasons.clj
.DS_Store
/.pwd
.clj-kondo/*
.lsp
.env
